body {
      font: 400 15px Tahoma; /*Familia sans-serif*/
      line-height: 1.8;
      color: #818181;
  }
h1 {
      background-color: crimson; 
      color:blanchedalmond;
      text-transform: uppercase;
      padding: 100px 25px;
      text-align: center;     
  }

h2,h3 {
  color:blue;
  text-transform: uppercase;
  padding: 30px 6px;
}

p {
    color: white;
    text-indent:40px;
}

table {
   width: 100%;
   border: 1px solid #000;
}
th, td {
   width: 25%;
   text-align: left;
   vertical-align: top;
   border: 1.5px solid #000;
   background-color: red;
   color: white;
}

ul {
  color: white;
  list-style-type: circle;
}

html {
  background-color: lightslategray;
}



